@import '../../../shared/styles/colours';
@import '../../../shared/styles/typography';

.library-item {
  margin-bottom: 20px;

  .subtitle {
    margin: 0;
    @include fluid-type(320px, 1200px, 12px, 14px);
    font-style: italic;
    font-weight: 400;
  }

  &__description {
    p {
      text-align: justify;
    }
    a {
      margin-top: 5px;
      display: inline-block;
    }

    .separator {
      width: 20%;
      height: 1px;
      margin: 30px auto;
      background-color: ludan-color('grey', 'light');
    }
  }
}
