@import 'colours';
@import 'typography';
@import 'layout';

.blog-item {
  padding: 40px 20px;
  display: flex;
  justify-content: center;

  @media only screen and (max-width: $sm) {
    padding-bottom: 20px;
  }

  .article {
    width: 100%;
    max-width: 1200px;
    font-size: 1.2em;
    @include font-family();

    .article__title {
      margin: 0;
      font-weight: 600;
      @include fluid-type(320px, 1200px, 24px, 40px);
      color: ludan-color('primary');
    }

    .article__date {
      margin: 0;
      @include fluid-type(320px, 1200px, 12px, 14px);
      font-style: italic;
      font-weight: 400;
      margin-bottom: 40px;

      @media only screen and (max-width: $sm) {
        margin-bottom: 20px;
      }
    }

    /deep/ h3 {
      color: ludan-color('primary');
      font-weight: 500;
      @include fluid-type(320px, 1200px, 20px, 34px);
    }

    /deep/ code {
      background: ludan-color('background');
      padding: 0 5px;
      @include fluid-type(320px, 1200px, 14px, 18px);
    }

    /deep/ pre code {
      background: none;
    }

    /deep/ p {
      padding: 8px 0;
    }

    /deep/ li {
      margin-bottom: 8px;
    }
  }
}
