@import '../../shared/styles/colours';
@import '../../shared/styles/typography';
@import '../../shared/styles/layout';
@import '../../shared/styles/tags';
@import '../../shared/styles/post-header';

.blog-item {
  padding: 40px 0;

  .image {
    width: auto;
    height: auto;
    max-width: 100%;
    margin: auto;
    display: block;
  }

  // Inside the markdown
  .article {
    font-size: 1.2em;
    @include font-family();

    /deep/ h3 {
      color: ludan-color('primary');
      font-weight: 500;
      @include fluid-type(320px, 1200px, 20px, 34px);
    }

    /deep/ code {
      background: ludan-color('background');
      padding: 0 5px;
      @include fluid-type(320px, 1200px, 14px, 18px);
    }

    /deep/ pre code {
      background: none;
    }

    /deep/ p {
      padding: 8px 0;
    }

    /deep/ li {
      margin-bottom: 8px;
    }
  }
}
