@import '../../shared/styles/colours';
@import '../../shared/styles/typography';
@import '../../shared/styles/layout';
@import '../../shared/styles/tags';
@import '../../shared/styles/post-header';

.blog-item {
  padding-bottom: 40px;

  .datePublished,
  .keywords,
  .dateModified {
    display: none;
  }

  .image {
    width: auto;
    height: auto;
    max-height: 400px;
    max-width: 100%;
    margin: auto;
    display: block;
  }

  .imageSchema {
    display: none;
  }

  // Inside the markdown
  .article {
    font-size: 1.2em;
    @include font-family();

    ::ng-deep h3 {
      color: ludan-color('primary');
      font-weight: 500;
      @include fluid-type(320px, 1200px, 20px, 32px);
    }

    ::ng-deep code {
      background: ludan-color('background');
      padding: 0 5px;
      @include fluid-type(320px, 1200px, 14px, 18px);
    }

    ::ng-deep pre code {
      background: none;
    }

    ::ng-deep p {
      padding: 8px 0;
    }

    ::ng-deep li {
      margin-bottom: 8px;
    }

    ::ng-deep a {
      word-wrap: break-word;
    }
  }
}
