@import '../../../shared/styles/colours';
@import '../../../shared/styles/typography';
@import '../../../shared/styles/tags';
@import '../../../shared/styles/post-header';

.library-item {
  padding: 40px 0;

  &__description {
    p {
      text-align: justify;
    }
    a {
      margin-top: 5px;
      display: inline-block;
    }
  }
}
