@import '../../../shared/styles/colours';
@import '../../../shared/styles/typography';
@import '../../../shared/styles/tags';
@import '../../../shared/styles/post-header';

.library-item {
  .description {
    .source-code {
      margin-top: 5px;
      display: inline-block;
    }
  }

  .children {
    display: flex;
    justify-content: center;
  }

  .datePublished,
  .dateModified,
  .keywords {
    display: none;
  }
}
