@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/typography';

.thumbnail {
  max-width: 400px;
  height: 100%;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    position: relative;
  }

  img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: table;
    margin: 0 auto;
  }

  .hover-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    cursor: pointer;
    opacity: 0;

    &:hover {
      opacity: 1;
      .hover-container__background {
        background: ludan-color('primary');
      }

      .hover-container__content {
        @include transform(translateY(0px));
      }
    }

    .hover-container__background {
      @include transition(background-color 0.5s);
      opacity: 0.7;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .hover-container__content {
      @include transition(transform 0.5s);
      @include font-family();
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include transform(translateY(20px));

      .title {
        padding: 10px 0;
        @include fluid-type(320px, 1200px, 10px, 20px);
      }

      .subtitle {
        @include fluid-type(320px, 1200px, 8px, 16px);
      }
    }
  }
}
