@import '../../../styles/colors';
@import '../../../styles/mixins';

.thumbnail {
  width: 100%;
  height: 100%;
  position: relative;

  @include background-size(cover);

  .hover-container {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    cursor: pointer;
    @include transition(background-color 0.5s);

    &:hover {
      background: ludan-color('accent', 'dark');

      .hover-text-wrapper {
        @include transform(translateY(0px));
      }
    }

    .hover-text-wrapper {
      @include transition(transform 0.5s);
      @include font-family();
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include transform(translateY(20px));

      .title {
        padding: 10px 0;
        @include font-size(20px);
      }

      .subtitle {
        @include font-size(16px);
      }
    }
  }
}
