@import '../../../shared/styles/layout';

.catalogue {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  justify-content: center;

  ludan-thumbnail {
    margin: 10px;
  }

  .hidden-elements {
    min-width: 420px;
  }
}
