@import '../../../shared/styles/layout';

.catalogue {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;

  ludan-thumbnail {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
