@import '../../../../../shared/styles/button.scss';
@import '../../../../../shared/styles/typography';

.demo-row {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  .ludan-button {
    margin-left: 10px;
  }
}

::ng-deep .modal {
  .body {
    padding: 10px;
  }

  .footer {
    background: ludan-color('background');
    padding: 5px 10px;
    text-align: center;
  }
}
