@import '../../../../../shared/styles/button.scss';
@import '../../../../../shared/styles/typography';

.source-code-row,
.demo-row {
  display: flex;
  align-items: center;
}

.demo-row {
  padding-bottom: 10px;

  button {
    margin-left: 10px;
  }
}

.source-code-row {
  margin-top: 5px;
}

/deep/ .modal {
  .body {
    padding: 10px;
  }

  .footer {
    background: ludan-color('background');
    padding: 5px 10px;
    text-align: center;
  }
}
