@import 'layout';
@import 'colours';
@import 'typography';

.overview {
  @include font-family();

  &__title {
    @include fluid-type(320px, 1200px, 20px, 40px);
    color: ludan-color('primary');
    text-align: center;
    margin-bottom: 15px;
  }

  &__description {
    @include fluid-type(320px, 1200px, 14px, 18px);
    color: ludan-color('grey');
    text-align: center;
    margin-bottom: 40px;
  }

  &__link {
    color: ludan-color('primary');
    text-decoration: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .portfolio,
  .blog,
  .library {
    display: flex;
    flex-direction: column;
    padding: 0 80px 40px 80px;

    @media only screen and (max-width: $sm) {
      padding: 0px 40px 40px 40px;
    }

    .catalogue {
      flex-grow: 1;
      position: relative;
    }
  }
}

// --- Landing ---
.landing {
  height: calc(100vh - #{$navbar-height});
  @media only screen and (max-width: $sm) {
    height: calc(100vh - #{$navbar-height-sm});
  }
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__role {
    @include fluid-type(320px, 1200px, 30px, 60px);
    margin-top: -#{$navbar-height};
    margin-bottom: 20px;
  }

  &__description {
    @include fluid-type(320px, 1200px, 15px, 30px);
    padding: 0 80px;
    text-align: center;
    margin: 0;
    color: ludan-color('grey');
  }
}

// --- Description ---
.description {
  background: ludan-color('primary');
  padding: 80px 20% 200px 20%;
  text-align: center;
  color: white;

  @media only screen and (max-width: $sm) {
    padding: 40px 20px 130px 20px;
  }

  &__title {
    @include fluid-type(320px, 1200px, 18px, 26px);
  }

  &__text {
    line-height: 30px;
    @include fluid-type(320px, 1200px, 14px, 18px);

    @media only screen and (max-width: $sm) {
      line-height: 24px;
    }
  }
}

.blog {
  background: ludan-color('grey', 'extra-light');
}
