@import '../../styles/mixins';

.ludan-navbar {
  @include font-size(26px);
  @include font-family();
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 2px 0;
  margin: 0 1px;
  width: 100px;
  text-align: center;
  cursor: default;
  border-bottom: 2px solid transparent;

  &.active {
    border-bottom-color: red;
  }

  &:not(.active):hover {
    cursor: pointer;
    border-bottom-color: grey;
  }
}
