@import 'mixins';
@import 'layout';
@import 'colours';
@import 'typography';

.navbar {
  @include fluid-type(320px, 1200px, 18px, 26px);
  @include font-family();

  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: $navbar-height;
  @media only screen and (max-width: $xs) {
    height: $navbar-height-sm;
  }
  z-index: 2;

  @media only screen and (max-width: $xs) {
    padding: 0 20px;
  }

  &.colored {
    background: ludan-color('primary');

    li {
      color: white;

      &::after {
        background: white !important;
      }
    }
  }

  .logo {
    height: 40px;
    cursor: pointer;
    outline: none;

    @media only screen and (max-width: $xs) {
      height: 30px;
    }
  }

  .menu {
    height: 30px;
    cursor: pointer;

    @media only screen and (min-width: $sm) {
      display: none;
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 10;
    cursor: pointer;

    &.hidden {
      pointer-events: none;
    }

    @media only screen and (min-width: $sm) {
      display: none;
    }
  }

  .nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;

    .link {
      padding: 2px 0;
      margin: 0 1px;
      width: 120px;

      &.active::after {
        width: 100%;
        background: ludan-color('primary');
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #000;
      }
    }
  }

  .nav-xl {
    @media only screen and (max-width: $sm) {
      display: none;
    }

    .link {
      text-align: center;
      cursor: pointer;

      &::after {
        @include transition(width 0.2s);
      }

      &:not(.active):hover::after {
        width: 100%;
      }
    }
  }

  .nav-xs {
    @media only screen and (min-width: $sm) {
      display: none;
    }

    margin-bottom: 10px;
    box-sizing: border-box;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0px;
    width: 120px;
    height: 100%;
    background: white;
    padding: 10px;

    .link {
      text-align: left;
    }
  }
}
