@import '../shared/styles/layout';

.portfolio {
  min-height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: column;
  padding: 0 80px;

  &__catalogue {
    flex-grow: 1;
    position: relative;
  }
}
