@import './shared/styles/layout.scss';

.content {
  box-sizing: border-box;
  position: relative;
  // padding-top: $navbar-height;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
}
