@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(slide-left) {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@include keyframes(slide-right) {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(100%);
  }
}

@include keyframes(half-fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@include keyframes(fade-out) {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
