// xs - max-width: 599px;
$xs: 599px;
// gt-xs - min-width: 600px;
$gt-xs: 600px;
// sm - min-width: 600px; max-width: 959px;
$sm: 959px;
// gt-sm - min-width: 960px;
$gt-sm: 960px;
// md - min-width: 960px; max-width: 1279px;
$md: 1279px;
// gt-md - min-width: 1280;
$gt-md: 1280px;
// lg - min-width: 1280px; max-width: 1919px;
$lg: 1919px;
// gt-lg - min-width: 1920px;
$gt-lg: 1920px;
// xl - min-width: 1920px; max-width: 5000px;
$xl: 1920px;

$navbar-height: 50px;
$navbar-height-sm: 50px;
$footer-height: 160px;
$footer-height-sm: 120px;
$side-margin: 20%;
$side-margin-xs: 20px;
