.title {
  margin: 0;
  font-weight: 600;
  @include fluid-type(320px, 1200px, 24px, 40px);
  color: ludan-color('primary');
}

.subtitle {
  margin: 0;
  @include fluid-type(320px, 1200px, 12px, 14px);
  font-style: italic;
  font-weight: 400;
}

.separator {
  width: 20%;
  height: 1px;
  margin: 30px auto;
  background-color: ludan-color('grey', 'light');
}
