@import '../../../shared/styles/button';
@import '../../../shared/styles/typography';

.library-modal {
  overflow: auto;

  .source-code-row,
  .demo-row {
    display: flex;
    align-items: center;
  }

  .demo-row {
    button {
      margin-left: 10px;
    }
  }

  .source-code-row {
    margin-top: 5px;
    a {
      margin-left: 10px;
      @include fluid-type(320px, 1200px, 12px, 16px);
    }
  }

  /deep/ .modal {
    .body {
      padding: 10px;
    }

    .footer {
      background: ludan-color('background');
      padding: 5px 10px;
      text-align: center;
    }
  }
}
