@import '../../styles/colours';
@import '../../styles/mixins';
@import '../../styles/typography';
@import '../../styles/layout';

.footer {
  @include font-family();
  background: ludan-color('primary');

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  height: $footer-height-sm;

  @media only screen and (min-width: $sm) {
    height: $footer-height;
  }

  .socials {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    svg {
      width: 28px;
      margin: 0 10px;
      cursor: pointer;
      fill: white;
      transition-duration: 300ms;

      &:hover {
        transform: scale(1.2);
      }

      @media only screen and (max-width: $sm) {
        width: 20px;
      }
    }
  }
}
