@import '../../../shared/styles/colours';
@import '../../../shared/styles/layout';

.skills {
  border: 1px solid ludan-color('grey', 'light');
  border-radius: 10px;
  margin: -80px 10% 0 10%;
  background: white;
  margin-bottom: 80px;

  @media only screen and (max-width: $sm) {
    margin-bottom: 40px;
  }

  .title {
    margin-top: 0;
  }

  .subtitle {
    color: ludan-color('primary');
  }

  .section {
    text-align: center;
    padding: 20px;

    @media only screen and (max-width: $sm) {
      &:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid ludan-color('grey', 'light');
      }
    }

    @media only screen and (min-width: $gt-sm) {
      p:first-of-type {
        height: 90px;
      }

      &:not(:last-child) {
        border-right: 1px solid ludan-color('grey', 'light');
        border-bottom: 0;
      }
    }

    @media only screen and (min-width: $gt-md) {
      p:first-of-type {
        height: 80px;
      }
    }

    @media only screen and (min-width: $gt-lg) {
      p:first-of-type {
        height: 60px;
      }
    }

    p {
      line-height: 24px;
    }
  }
}
