@import 'colours';
@import 'layout';

.skills {
  border: 1px solid ludan-color('grey', 'light');
  border-radius: 10px;
  margin: -80px 10% 0 10%;
  background: white;
  margin-bottom: 80px;

  @media only screen and (max-width: $sm) {
    margin-bottom: 40px;
  }

  h3 {
    margin-top: 0;
  }

  &__section {
    text-align: center;
    padding: 20px;

    @media only screen and (max-width: $sm) {
      &:not(:last-child) {
        border-right: 0;
        border-bottom: 1px solid ludan-color('grey', 'light');
      }
    }

    @media only screen and (min-width: $gt-sm) {
      &:not(:last-child) {
        border-right: 1px solid ludan-color('grey', 'light');
        border-bottom: 0;
      }
    }

    p {
      line-height: 24px;
    }

    h4 {
      color: ludan-color('primary');
    }
  }
}
