@import '../../../shared/styles/colours.scss';
@import '../../../shared/styles/typography';
@import '../../../shared/styles/layout';
@import '../../../shared/styles/typography';

.breadcrumbs {
  @include font-family();
  padding: 20px $side-margin 0 $side-margin;

  @media only screen and (max-width: $xs) {
    padding: 0 $side-margin-xs;
  }

  .breadcrumb {
    .link {
      @include fluid-type(320px, 1200px, 14px, 18px);
      margin: 0 5px;
      color: black;
      text-decoration: none;

      &:hover {
        color: ludan-color('primary');
      }
    }

    &:first-of-type {
      .link {
        margin-left: 0;
      }
    }
  }
}
